<app-maps></app-maps>


<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1>Lugares cercanos</h1>
      <button class="btn btn-primary" routerLink="new">Crear negocio</button>
      <ng-container *ngFor="let item of database">
        <a routerLink="/detalle/{{ item._id }}" [queryParams]="{action:'view'}">
          <h4 appSaveClicks [appResaltar]="item.plan"> {{ item.name }} </h4>
        </a>
      </ng-container>
    </div>

    <div class="col-md-4">
      <h1>Destacados</h1>
    </div>

  </div>
</div>